<div class="displayFlexC divContainerSeleccion">

    <a routerLink="/suave"> 
       <div class="displayFlexR seleccion">
        <div class="displayFlexR divTexto">
        <h2 class="h2Seleccion" style="color:rgb(251, 255, 0); ">SUAVE</h2>  
        <p class="pSeleccion" > ¡Es hora 
        de sacudirte con elegancia y mantener la diversión en un nivel suave pero emocionante!" </p>
        <img class="imgSeleccion" src="assets/suave.png" >
      </div>
  
      
   
    </div></a>
  
    <a routerLink="/intenso" class="link"> 
      <div class="displayFlexR seleccion">
        <div class="displayFlexR divTexto">
          <h2 class="h2Seleccion" style="color:rgb(251, 255, 0)">INTENSO</h2>  
          <p class="pSeleccion">Si estás buscando emociones fuertes y retos que te hagan sudar, ¡esta es tu categoría!</p>
          <img class="imgSeleccion" src="assets/intenso.png">
        </div>
        
    </div></a>
  
    <a routerLink="/extremo" class="link">
      <div class="displayFlexR seleccion">
        <div class="displayFlexR divTexto">
          <h2 class="h2Seleccion" style="color:rgb(251, 255, 0)">EXTREMO</h2>  
          <p class="pSeleccion" >¡Aquí es donde las cosas se ponen realmente locas! En esta categoría, no hay límites ni inhibiciones. </p>
          <img class="imgSeleccion" src="assets/extremo1.png">
        </div>
          
      </div>
    </a>

  </div>
  