<div  class="divIntro" *ngIf="intro"></div>
<div class="divContainerSuave" style="display: flex;"><div class="mayorEdad">
  <p style="margin: auto;">Libaton no se hace responsable por disputas o escandalos generados por usuarios del juego, este es un juego para mayores de edad. Presiona Ok si cumples con las condiciones, si no las cumples presiona Salir.
</p><div class="containerBotones">
  <button class="botonesCondiciones" (click)="ingresar()">Ok</button>
  <button  class="botonesCondiciones" (click)="salir()">Salir</button>
</div> </div>
</div>